/* Universal Tags */

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}

/* Header */


/* Mission Section */


/* Featured Tea Section */


/* Locations Section */


/* Contact Section */


/* Footer */