/* Universal Tags */

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    text-align: center;
    color: seashell;
}

body {
    background-color: seashell;
    width: 100%;
}

header, main, footer {
    background-color: rgba(10, 10, 10, 1);
    max-width: 1600px;
    margin: 0 auto;
    opacity: .9;
}

/* Header */

header {
    margin-top: 32px;
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: sticky;
    top: 0;
    z-index: 100;
}

header img {
    max-height: 50px;
    width: auto;
}

nav li {
    display: inline-block;
    list-style-type: none;
    padding: 8px;
}

nav a {
    color: seashell;
}

/* Mission Section */

#mission {
    margin: 0 auto;
    background-image: url(images/img-mission-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    max-width: 1200px;
    display: flex;
    align-items: center;
}

#mission article {
    width: 100%;
    padding: 16px;
    background-color: rgba(10, 10, 10, 1);
}

#mission h2 {
    margin-bottom: 24px;
}

/* Featured Tea Section */

#featuredTea {
    padding: 64px 0;
    max-width: 1000px;
    margin: 0 auto;
}

#featuredTea article {
    margin: 0 auto;
}

#featuredTea h2 {
    margin: 16px 0;
}

#featuredTea h4 {
    margin: 10px 0;
}

#featuredTea div {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-grow: 1;
}

#featuredTea figure {
    margin: 8px;
}

#featuredTea img {
    max-height: 200px;
    max-width: 300px;
}

/* Locations Section */

#locations {
    margin: 0 auto;
    background-image: url(images/img-locations-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height: 500px;
    padding: 32px;
}

#locations h2 {
    margin: 15px 0;
}

#locations article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#locations figure {
    background-color: rgba(10, 10, 10, 1);
    min-height: 300px;
    width: 300px;
    display: inline-block;
    margin: 20px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#locations h3 {
    margin: 24px;
}

#locations p {
    line-height: 2;
}

/* Contact Section */

#contact {
    padding: 24px;
    margin: 0 auto;
}

#contact h2 {
    padding: 16px;
}

#contact h5 {
    padding: 8px
}

/* Footer */

footer {
    text-align: left;
}

footer p {
    padding: 20px;
}

/* Media */

@media only screen and (max-width: 1600px) {
    header {
        margin: 0;
    }
}

@media only screen and (max-width: 650px) {
    html {
        font-size: 14px
    }
}